<div class="row">
    <div class="col-xs-12">
        <img
            [src]="recipe.imageUrl"
            [alt]="recipe.name"
            class="img-responsive"
            style="max-height: 100px"
        />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button
                [appDropdown]="dropdownTarget"
                class="btn btn-primary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Manage Recipe
            </button>
            <ul
                #dropdownTarget
                class="dropdown-menu"
                aria-labelledby="dropdownMenuButton"
            >
                <li>
                    <a
                        class="dropdown-item"
                        style="cursor: pointer"
                        (click)="onAddToShoppingList()"
                        >Add to Shopping List</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        style="cursor: pointer"
                        routerLink="edit"
                        >Edit Recipe</a
                    >
                </li>
                <li>
                    <a class="dropdown-item" style="cursor: pointer" (click)="onDeleteRecipe()"
                        >Delete Recipe</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li
                class="list-group-item"
                *ngFor="let ingredient of recipe.ingredients"
            >
                {{ ingredient.name }} ({{ ingredient.amount }})
            </li>
        </ul>
    </div>
</div>
